@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.ttf');
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.ttf');
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.ttf');
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
}
body {
  font-family: Raleway-Regular;
  color: #5f64ae;
}
.heading {
  margin-top: 50px;
}
.heading h1,
.bolder h1,
.bolder h4,
.footer__info h5 {
  font-family: Raleway-Bold;
}
.bolder h1,
.bolder h4 {
  font-weight: 600;
}
.heading h2 {
  font-family: Raleway-Medium;
  margin: 0;
}
.heading h4 {
  font-family: Raleway-Medium;
  margin: 0;
}
.heading__address {
  font-weight: 600;
}
.heading__offer small,
.footer__info h5 small {color: #79cac8;}
.summary {
  border-top: 3px dotted #79cac8;
  border-bottom: 3px dotted #79cac8;
  margin: 50px 0;
  padding: 20px 0;
}
.map {
  height: 300px;
}
.bolder small {
  color: #5f64ae;
  font-family: Raleway-Regular;
}
.bolder thead {
  background-color: #79cac8;
  color: white;
}
.current tbody tr:nth-child(odd) {
  background-color: #c9e7e7;
}
.sep {
  background-color: #79cac8;
  height: 4px;
  width: 100px;
  float: left;
  margin-left: 15px;
}
.footer__info {
  margin-bottom: 50px;
}
.logo {
  width: 300px;
}
.logo img {
  max-width:100%;
}
